*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0;
    font-size: 16px;
}

h1{
    margin: 50px;
}

button{
    width: 25px;
    height: 25px;
    background-image: url("./images/down-arrow.png");
    background-size: cover;        
    background-repeat: no-repeat;   
    background-color: transparent;
    outline: none;
    border:none;
    position: absolute;
    right: 15px;
    top: 25px;
}

p{
    display: none;
    margin: 20px 0;
    font-size: 1.2em;
}

.container{
    margin: 0 auto;
    max-width: 600px;
}

.item{
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    transition: .3s ease;
}

.item.active{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: .3s ease;
}

.active p{
    display: block;
}


.active button{
    background-image: url("./images/circle.png");
}


.active::before {
    content: "";
    position: absolute;
    opacity: 0;
    width: 100px;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("./images/question-colored.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity .2s ease-in-out;
}

.active.show::before {
    opacity: 0.5;
}

