*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}


.nav{
    z-index: 1;
    position: fixed;
    height: 10vh;
    width: 100%;
    min-width: 800px;
    background-color: #222;
    color: #fff;
    transition: all 0.5s;
}

.nav.active{
    color: #555;
    background-color: #fff;
    height: 8vh;
}

.nav_container {
    height: 100%;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo{
    font-size: 1.5em;
    font-weight: bold;
}

.nav_options{
    list-style-type: none;
}

.nav_option{
    font-size: 1.2em;
    margin: 5px;
    display: inline-block;
    text-transform: capitalize;
}

.nav_option:hover{
    cursor: pointer;
    color: #c0302b;
}


.hero{
    z-index: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    margin-bottom: 10px;
}

.hero::before{
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
}

.hero_container{
    position: relative;
    z-index: 2;
}

.hero_container h1{
    font-size: 3.5em;
    min-width: 800px;
    text-align: center;
    letter-spacing: 3px;
}

.hero_container p{
    font-size: 1.3em;
    min-width: 800px;
    text-align: center;
    letter-spacing: 3px;
}

.content{
    min-width: 600px;
    background-color: white;
    margin: 0 20%;
}

.content h1,
.content p{
    margin-bottom: 20px;
}

.content h1{
    font-size: 200%;
}

.content p{
    font-size: 1.1em;
    line-height: 30px;
    color: #555;
}